docker-compose*
.dockerignore
README.md

.env
app/.env

.docker/
.vscode/
azure-pipelines/
docs/
helm/
images/
k6/
monitoring/
terraform/
vargrant/

.git
.gitignore

app/__pycache__/
app/**/__pycache__/
app/logs/
app/.venv/