# root files
.env
.vscode/
.vscode/**
.docker/
.docker/**
*.zip

# app/ directories
app/**/__pycache__/
app/logs/
app/**/.venv*/
app/.env

# helm directory
!/helm/**/.helmignore
helm/helpers/**/*-values.yaml

# terraform/ directories
terraform/**/.terraform/

# terraform/ files
terraform/**/.terraform*
terraform/**/terraform.tfstate*
terraform/**/*.plan
terraform/**/*.tfvars
terraform/**/*.auto.tfvars
terraform/**/*.lock.hcl
terraform/**/*tfplan*
terraform/**/*.output
!terraform/**/.terraformignore

# monitoring
monitoring/**/.env
monitoring/**/generated/