[ req ]
distinguished_name = mishap.devops.ina
x509_extensions = v3_ca
prompt = no

[ mishap.devops.ina ]
C = UA
ST = Kyiv
L = Kyiv
O = MishaP
OU = DevOps
CN = RootCA

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical,CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = *.mishap.local