apiVersion: 1

# deleteDatasources:
  # - name: Loki
    # orgId: 1

prune: true

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    jsonData:
      timeout: 60
      maxLines: 1000
    editable: true