apiVersion: 1

# deleteDatasources:
  # - name: Loki
    # orgId: 1

prune: true

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    jsonData:
      timeout: 60
      maxLines: 1000
    editable: true